<!-- 

    <main>
        {% extends%}
        {% block content %}

        <section id="home">
            <h2>Home</h2>
            <p>Welcome to our university's homepage. Explore and learn more about us!</p>
        </section>

        <section id="student">
            <h2>Student</h2>
            <p>Learn about our students and their achievements.</p>
        </section>

        <section id="courses">
            <h2>Courses</h2>
            <p>Discover the exciting courses we offer and shape your academic journey with us.</p>
        </section>

        {% endblock %}
    </main>
</body>
</html> -->
